<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>新聞查核</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <style type="text/css">
      body{
        background: #ccffff;
      }

      .box{
        margin: 50px auto;
        width: 200px;
        height: 50px;
      }
      h1,span{
        font-family: 'Noto Sans TC', sans-serif;
      }
      #A h1{
        vertical-align: center;
      }

      span{
        font-size: 20px;

      }
      #A li{
        display:inline;
        vertical-align: center;
      }
      div{
        vertical-align: center;

      }
      span .t1{
        width: 150px;
      }
    </style>
  </head>
  <body>
    <inline>
      <img src="https://cdn2.ettoday.net/images/2194/d2194378.jpg" alt="被和諧了" width="100" height="100"><br>
      <span>說明:歡迎您使用查核功能，您可以透過輸入"[新聞標題或內容]查詢相關的新聞</span>      
    </inline>
    <hr>
    <form action="??????" method="get/post">
      貼上新聞:<br>
      <textarea name="newsmemo" rows="10" cols="30" wrap="on">




      </textarea><br>
      <input type="submit" name="" value="送出">
    </form>
    </div>
  <h2>結果:</h2>
  <h3 style="display: inline;">與鏈上文章比對相似度:</h3><span><u>{article similar}</u></span><span>%</span>
  <div style="border-width:3px;border-style:dashed;border-color:#FFAC55;padding:5px;">
    {similar newslist}



    </body>
</html>