<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title.poll_title}}</title>
	<style type="text/css">
	div {
		display:inline;
	}
	body{
		background: #DDDDDD
	}
</style>

</head>
<body>
               {% for poll in polls %}
                <img src={{poll.option_img}} alt="" width="1000" height="1100">
                <h1 style="display: inline;font-size:125px;">{{poll.option_title}}</h1>
                <h1 style="display: inline;font-size:125px;">得票數：{{poll.vote_tally}}</h1>
                <hr>
               {% endfor %}
</body>
</html>
